# Flip Robo Technologies Web Scraping - Assignment - 4

## Solved by Mihir Bhoite - Batch - DS2406

## Question -1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:                     A)Rank
B) Name
C) Artist
D) Upload date
E) Views

In [179]:
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [180]:
driver = webdriver.Chrome()

In [181]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
response = requests.get(url)
response

In [182]:
driver.get(url)

In [183]:
html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

In [184]:
try:
    table = driver.find_element(By.XPATH, '//table[contains(@class,"wikitable")]')
    rows = table.find_elements(By.TAG_NAME, 'tr')
except NoSuchElementException:
    print("Table not found!")
    driver.quit()

In [192]:
data = []
for row in rows[1:]:  # Skip the header row
    try:
        columns = row.find_elements(By.TAG_NAME, 'td')
        rank = columns[-1].text.strip()
        name = columns[0].text.strip()
        artist = columns[1].text.strip()
        upload_date = columns[3].text.strip()
        views = columns[2].text.strip()

        data.append([ rank, name, artist, views, upload_date ])
    except IndexError:
        continue

In [195]:
# Step 5: Store the data in a pandas DataFrame
df = pd.DataFrame(data, columns={"Rank":rank, "Name":name, "Artist":artist, "Views(Billions)":views, "Upload Date":upload_date})
df
# Step 6: Output the data
#df.to_csv('most_viewed_youtube_videos.csv', index=False)

,Rank,Name,Artist,Views(Billions),Upload Date
0,[A],"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,15.12,"June 17, 2016"
1,[B],"""Despacito""[10]",Luis Fonsi,8.55,"January 12, 2017"
2,,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.95,"October 8, 2016"
3,,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.85,"May 2, 2018"
4,,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,6.56,"May 24, 2018"
5,[C],"""See You Again""[21]",Wiz Khalifa,6.40,"April 6, 2015"
6,[D],"""Shape of You""[26]",Ed Sheeran,6.33,"January 30, 2017"
7,,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,6.00,"March 6, 2014"
8,,"""Uptown Funk""[30]",Mark Ronson,5.33,"November 19, 2014"
9,[E],"""Gangnam Style""[31]",Psy,5.30,"July 15, 2012"
10,,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.15,"February 27, 2018"
11,,"""Axel F""[37]",Crazy Frog,4.78,"June 16, 2009"
12,,"""Dame Tu Cosita""[38]",Ultra Records,4.74,"April 5, 2018"
13,,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,4.60,"January 31, 2012"
14,,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.17,"June 25, 2018"
15,,"""Lakdi Ki Kathi""[41]",Jingle Toons,4.13,"June 14, 2018"
16,,"""Sugar""[42]",Maroon 5,4.09,"January 14, 2015"
17,,"""Counting Stars""[43]",OneRepublic,4.05,"May 31, 2013"
18,,"""Roar""[44]",Katy Perry,4.03,"September 5, 2013"
19,,"""Waka Waka (This Time for Africa)""[45]",Shakira,4.01,"June 4, 2010"
20,,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,3.97,"May 10, 2011"
21,,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.89,"January 26, 2018"
22,,"""Sorry""[48]",Justin Bieber,3.84,"October 22, 2015"
23,,"""Thinking Out Loud""[49]",Ed Sheeran,3.79,"October 7, 2014"
24,,"""Perfect""[50]",Ed Sheeran,3.78,"November 9, 2017"
25,,"""Dark Horse""[51]",Katy Perry,3.77,"February 20, 2014"
26,,"""Let Her Go""[52]",Passenger,3.70,"July 25, 2012"
27,,"""Faded""[53]",Alan Walker,3.67,"December 3, 2015"
28,,"""Girls Like You""[54]",Maroon 5,3.65,"May 31, 2018"
29,,"""Lean On""[55]",Major Lazer Official,3.65,"March 22, 2015"

## Question 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [174]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, TimeoutException
import pandas as pd
import time

# Step 1: Set up the WebDriver
driver = webdriver.Chrome()
driver.get("https://www.bcci.tv/")

# Step 2:
time.sleep(5)

In [175]:
try:
    # Assuming the link to fixtures is found using a button or a navigation item
    fixtures_link = driver.find_element(By.XPATH, "//a[contains(@href, '/fixtures')]")  
    fixtures_link.click()
except NoSuchElementException:
    print("Fixtures link not found")
    driver.quit()

    # Step 3: Wait for the fixtures page to load
time.sleep(5)

In [176]:
# Click on More Matches option for drop down below
more_matches_link = driver.find_element(By.XPATH, "//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3 morematches']")
more_matches_link.click()

# Step 4: Scrape the fixtures data (Series, Place, Date, Time)
fixtures = []

In [177]:
 # Assuming the fixtures are in a table or listed div structure
fixture_items = driver.find_elements(By.XPATH, "//div[@class='match-card match-card-fw match-card-up match-card-modify ng-scope t20-card']")  # Adjust this selector based on the website structure
for fixture in fixture_items:
    try:
        series = fixture.find_element(By.XPATH, ".//h5[@class='match-tournament-name ng-binding']").text
        place = fixture.find_element(By.XPATH, ".//div[@class='match-venue ng-scope']").text
        date = fixture.find_element(By.XPATH, ".//div[@class='match-dates ng-binding']").text
        time = fixture.find_element(By.XPATH, ".//div[@class= 'match-time no-margin ng-binding']").text

        fixtures.append([series, place, date, time])
    except NoSuchElementException:
        print("Some fixture details missing, skipping this fixture")

In [178]:
# Step 5: Store the data in a pandas DataFrame
df = pd.DataFrame(fixtures, columns={"Series":series, "Place":place, "Date":date, "Time":time})
# Step 6: Output the data
df
#Saving the date in csv file
df.to_csv("team_india_fixtures.csv", index=False)

# Step 7: Close the WebDriver
driver.quit()

,Series,Place,Date,Time
0,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",6 Oct,15:30 IST
1,Bangladesh Tour of India T20 Series 2024,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",6 Oct,19:00 IST
2,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",9 Oct,19:30 IST
3,Bangladesh Tour of India T20 Series 2024,"Arun Jaitley Stadium, Delhi",9 Oct,19:00 IST
4,Bangladesh Tour of India T20 Series 2024,"Rajiv Gandhi International Stadium, Hyderabad",12 Oct,19:00 IST
5,ICC Womens T20 World Cup 2024,"Sharjah Cricket Stadium, Sharjah",13 Oct,19:30 IST
6,India Tour of South Africa T20 Series 2024,"Kingsmead, Durban",8 Nov,20:00 IST
7,India Tour of South Africa T20 Series 2024,"St George's Park, Gqeberha",10 Nov,20:00 IST
8,India Tour of South Africa T20 Series 2024,"SuperSport Park, Centurion",13 Nov,20:00 IST
9,India Tour of South Africa T20 Series 2024,"The Wanderers Stadium, Johannesburg",15 Nov,20:00 IST

# Question - 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [165]:
# Step 1: Set up the WebDriver
driver = webdriver.Chrome()
driver.get("https://statisticstimes.com/economy/india-statistics.php")

# Step 2: Navigate to the Economy Page
try:
    india_gdp_link = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    india_gdp_link.click()
except NoSuchElementException:
    print("India GDP link not found")
    driver.quit()

# Step 4: Scrape the GDP data
time.sleep(3)
data = []
try:
    # Locate the table containing the data
    table = driver.find_element(By.XPATH, "//table[contains(@class,'display dataTable')]")
    rows = table.find_elements(By.TAG_NAME, "tr")

    # Loop through the table rows and extract data
    for row in rows[1:]:  # Skip the header row
        columns = row.find_elements(By.TAG_NAME, "td")
        if len(columns) > 0:
            rank = columns[0].text.strip()
            state = columns[1].text.strip()
            gsdp_21_22 = columns[4].text.strip()
            gsdp_22_23 = columns[3].text.strip()
            share_21_22 = columns[5].text.strip()
            gdp_billion_2021 = columns[6].text.strip()

            data.append([rank, state, gsdp_21_22, gsdp_22_23, share_21_22, gdp_billion_2021])
except NoSuchElementException:
    print("Table not found")
    driver.quit()

In [166]:
# Step 5: Store the data in a pandas DataFrame
df = pd.DataFrame(data, columns={"Rank":rank, "State":state, "GSDP(21-22)":gsdp_21_22, "GSDP(22-23)":gsdp_22_23, "Share(21-22)":share_21_22, "GDP ($ billion)":gdp_billion_2021})
df


# Optional: Save to CSV
df.to_csv("state_gdp_india.csv", index=False)

# Step 6: Close the WebDriver
driver.quit()

,Rank,State,GSDP(21-22),GSDP(22-23),Share(21-22),GDP ($ billion)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385
33,,India,"23,597,399","26,949,646",,"3,150"

# Question-4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [152]:
# Step 1: Set up the WebDriver
driver = webdriver.Chrome() 
driver.get("https://github.com/explore")

In [153]:
# Step 2: Click on the Explore menu and then on the Trending option
try:
    time.sleep(3)  # Wait for page to load
    # Click on the "Trending" option 
    trending_option = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/main/div[1]/nav/div/a[3]")
    trending_option.click()

except NoSuchElementException:
    print("Trending option not found")
    driver.quit()

In [154]:
# Step 3: Scrape the trending repositories data
time.sleep(3)
repositories = []
try:
    # Locate the trending repositories section
    repo_list = driver.find_elements(By.XPATH, "//article[@class='Box-row']")

    for repo in repo_list:
        try:
            # Extracting repository title (Owner/Repository)
            repo_title = repo.find_element(By.XPATH, ".//h2[@class='h3 lh-condensed']/a").text.strip()
            
            # Extracting repository description
            try:
                repo_description = repo.find_element(By.XPATH, ".//p[@class='col-9 color-fg-muted my-1 pr-4']").text.strip()
            except NoSuchElementException:
                repo_description = "No description available"
            
            # Extracting contributors count
            try:
                contributors_count = repo.find_element(By.XPATH, ".//a[contains(@href, '/graphs/contributors')]").text.strip()
            except NoSuchElementException:
                contributors_count = "No contributors data"
            
            # Extracting programming language
            try:
                language = repo.find_element(By.XPATH, ".//span[@itemprop='programmingLanguage']").text.strip()
            except NoSuchElementException:
                language = "No language specified"
            
            # Append the data to the list
            repositories.append([repo_title, repo_description, contributors_count, language])
        
        except NoSuchElementException:
            continue

except NoSuchElementException:
    print("No repositories found on the page")

In [155]:
# Step 4: Store the data in a pandas DataFrame
df = pd.DataFrame(repositories, columns = {"Repository Title":repo_title, "Repository Description":repo_description, "Contributors Count":contributors_count, "Language":language})
df

# Save to CSV
df.to_csv("trending_github_repositories.csv")


# Step 5: Close the WebDriver
#driver.quit()

,Repository Title,Repository Description,Contributors Count,Language
0,TheAlgorithms / Python,All Algorithms implemented in Python,No contributors data,Python
1,XengShi / materialYouNewTab,A Simple New Tab ( browsers's home page ) insp...,No contributors data,HTML
2,PabloMK7 / citra,A Nintendo 3DS Emulator,No contributors data,C++
3,shardeum / shardeum,Shardeum is an EVM based autoscaling blockchain,No contributors data,TypeScript
4,fineanmol / Hacktoberfest2024,Make your first Pull Request on Hacktoberfest ...,No contributors data,JavaScript
5,TheAlgorithms / Java,All Algorithms implemented in Java,No contributors data,Java
6,ToolJet / ToolJet,Low-code platform for building business applic...,No contributors data,JavaScript
7,EbookFoundation / free-programming-books,📚 Freely available programming books,No contributors data,No language specified
8,continuedev / continue,⏩ Continue is the leading open-source AI code ...,No contributors data,TypeScript
9,meshery / meshery,"Meshery, the cloud native manager",No contributors data,JavaScript
10,Pythagora-io / gpt-pilot,The first real AI developer,No contributors data,Python
11,dair-ai / Prompt-Engineering-Guide,"🐙 Guides, papers, lecture, notebooks and resou...",No contributors data,MDX
12,grafana / k6,"A modern load testing tool, using Go and JavaS...",No contributors data,Go
13,home-assistant / core,🏡 Open source home automation that puts local ...,No contributors data,Python
14,getsentry / sentry,Developer-first error tracking and performance...,No contributors data,Python

## Question 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ 
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [216]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time

# Step 1: Set up the WebDriver
driver = webdriver.Chrome()
driver.get("https://www.billboard.com/charts/hot-100/")

# Step 2: Click on the Charts option and then Hot 100
try:
    time.sleep(3)  # Wait for page to load

    # Locate the "Charts" option
   # charts_option = driver.find_element(By.XPATH, "/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[1]/div/div[1]/div[1]/div/a")
    #charts_option.click()
    
    time.sleep(2)  # Small delay to ensure the menu is expanded
    
   

except NoSuchElementException:
    print("Charts or Hot 100 option not found")
    driver.quit()

# Step 3: Scrape the top 100 songs data
time.sleep(3)
songs = []
try:
    # Locate the section containing the songs
    song_list = driver.find_elements(By.XPATH, "//li[@class='o-chart-results-list__item']")

    for song in song_list:
        try:
            # Extract song name
            song_name = song.find_element(By.XPATH, "//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']").text.strip()
            
            # Extract artist name
            try:
                artist_name = song.find_element(By.XPATH, ".//span[@class='c-label']").text.strip()
            except NoSuchElementException:
                artist_name = "Artist not available"
            
            # Extract last week rank
            try:
                last_week_rank = song.find_element(By.XPATH, ".//span[@class='c-label' and contains(text(), 'Last week')]").text.strip()
            except NoSuchElementException:
                last_week_rank = "N/A"
            
            # Extract peak rank
            try:
                peak_rank = song.find_element(By.XPATH, ".//span[@class='c-label' and contains(text(), 'Peak')]").text.strip()
            except NoSuchElementException:
                peak_rank = "N/A"
            
            # Extract weeks on board
            try:
                weeks_on_board = song.find_element(By.XPATH, ".//span[@class='c-label' and contains(text(), 'Weeks on chart')]").text.strip()
            except NoSuchElementException:
                weeks_on_board = "N/A"
            
            # Append the data to the list
            songs.append([song_name, artist_name, last_week_rank, peak_rank, weeks_on_board])

        except NoSuchElementException:
            continue

except NoSuchElementException:
    print("No songs found on the page")

# Step 4: Store the data in a pandas DataFrame
df = pd.DataFrame(songs, columns=["Song Name", "Artist Name", "Last Week Rank", "Peak Rank", "Weeks on Board"])

# Step 5: Display the DataFrame
print(df)

# Optional: Save the DataFrame to a CSV file
df.to_csv("billboard_top_100_songs.csv", index=False)

# Step 6: Close the WebDriver
#driver.quit()

Empty DataFrame
Columns: [Song Name, Artist Name, Last Week Rank, Peak Rank, Weeks on Board]
Index: []

## Question - 6: Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [203]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
# Step 1: Set up the WebDriver
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

# Step 2: Wait for the page to load completely
time.sleep(3)  # Wait for the page to fully load

# Step 3: Scrape the table containing the highest-selling novels data
novels = []
try:
    # Locate the table on the page
    table = driver.find_element(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table")

    # Get all the rows in the table (excluding the header row)
    rows = table.find_elements(By.XPATH, ".//tbody/tr")

    for row in rows:
        # Extracting the columns from each row
        try:
            columns = row.find_elements(By.TAG_NAME, "td")
            if len(columns) > 0:
                # Extract the required data from each column
                book_name = columns[1].text.strip()
                author_name = columns[2].text.strip()
                volumes_sold = columns[3].text.strip()
                publisher = columns[4].text.strip()
                genre = columns[5].text.strip()

                # Append the data to the novels list
                novels.append([book_name, author_name, volumes_sold, publisher, genre])

        except NoSuchElementException:
            continue

except NoSuchElementException:
    print("Table or rows not found")

In [205]:
# Step 4: Store the scraped data in a pandas DataFrame
df = pd.DataFrame(novels, columns={"Book Name":book_name, "Author Name":author_name, "Volumes Sold":volumes_sold, "Publisher":publisher, "Genre":genre})

# Step 5: Display the DataFrame
df

#Save the DataFrame to CSV
df.to_csv("highest_selling_novels.csv", index=False)

# Step 6: Close the WebDriver
driver.quit()

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General