# Flip Robo Technologies Assignment - Web Scraping - Selenium

## Solved by Mihir Bhoite Batch - DS2406

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.23.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [172]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

# Set up the WebDriver (make sure you have the correct version of chromedriver)
driver = webdriver.Chrome()

# Step 1: Open the Naukri website
driver.get('https://www.naukri.com/')
driver.maximize_window()

# Step 2: Enter "Data Scientist" in "Skill, Designations, and Companies" field.
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')


search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

# Step 4: Apply the location filter (Delhi/NCR) and salary filter (3-6 Lakhs)
# Wait for filters to load
time.sleep(5)

# Apply Location Filter
location_filter = WebDriverWait(driver, 10).until(
    EC.element_to_be_clickable((By.XPATH, "//label[@for='chk-Delhi / NCR-cityTypeGid-']"))
)
location_filter.click()

# Wait for the filter to apply
time.sleep(6)

# Apply Salary Filter (3-6 Lakhs)
salary_filter = WebDriverWait(driver, 10).until(
    EC.element_to_be_clickable((By.XPATH, "//label[@for='chk-3-6 Lakhs-ctcFilter-']"))
)
salary_filter.click()

# Wait for the page to reload after applying filters
time.sleep(5)

job_title=[]
job_loc=[]
comp_name=[]
job_exp=[]

In [173]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [174]:
job_title

['Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist',
 'Data Engineer',
 'Data Analyst',
 '',
 '',
 '',
 'Data Scientist',
 'Data Scientist']

In [175]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_loc.append(location)

In [176]:
job_loc

['Gurugram',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Gurugram',
 'Noida',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'New Delhi']

In [177]:
company_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags[0:10]:
    comp=i.text
    comp_name.append(comp)

In [178]:
comp_name

['IBM',
 'Collegedunia',
 'Tiketcom',
 'Futurism Technologies',
 'Intense Technologies',
 'Response Informatics',
 'Digital Glyde',
 'Growthjockey',
 'GForce Consulting Solutions',
 'PayU']

In [179]:
exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp_tags[0:10]:
    expe=i.text
    job_exp.append(expe)

In [180]:
job_exp

['3-7 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '3-7 Yrs',
 '2-4 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '2-3 Yrs',
 '0-5 Yrs']

In [181]:
print(len(job_title),len(job_loc),len(comp_name),len(job_exp))

10 10 10 10

In [182]:
import pandas as pd
df=pd.DataFrame({'Job_Name':job_title,'Job_Location':job_loc,'Company':comp_name,'Experience':job_exp})
df

,Job_Name,Job_Location,Company,Experience
0,Data Scientist: Artificial Intelligence,Gurugram,IBM,3-7 Yrs
1,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Collegedunia,3-7 Yrs
2,Data Scientist,Gurugram,Tiketcom,0-2 Yrs
3,Data Engineer,Noida,Futurism Technologies,3-7 Yrs
4,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Intense Technologies,2-4 Yrs
5,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics,3-7 Yrs
6,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,2-6 Yrs
7,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Growthjockey,3-7 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",GForce Consulting Solutions,2-3 Yrs
9,Data Scientist,New Delhi,PayU,0-5 Yrs

Question 2 - Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [81]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [119]:
page = requests.get('https://www.shine.com/')
page

In [139]:
driver=webdriver.Chrome()
driver.get('https://www.shine.com/')

In [141]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [142]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [111]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Corporate Auditor- Data Analyst',
 'Data Analyst - Python/Hadoop',
 'Data Analyst III',
 'Data Analyst',
 'Data Analyst/Data reconciliation Expert',
 'Data Analyst',
 'Data Analyst']

In [112]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_loc.append(location)
job_loc

['Bengaluru(Yelahanka New Town)',
 'Hybrid - Bengaluru',
 'Bengaluru(HSR Layout)',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Chennai, Bengaluru, Delhi / NCR',
 'Hyderabad, Bengaluru, Mumbai (All Areas)',
 'Hybrid - Bengaluru',
 'Bengaluru']

In [113]:
company_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags[0:10]:
    comp=i.text
    comp_name.append(comp)
comp_name

['Simply Vyapar Apps',
 'Sadup Soft',
 'Sadup Soft',
 'EY',
 'Ness',
 'HTC Global Services',
 'Breakwalls Technologies',
 'Novel Office',
 'Accenture',
 'Amazon']

In [114]:
exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp_tags[0:10]:
    expe=i.text
    job_exp.append(expe)
job_exp

['0-5 Yrs',
 '6-10 Yrs',
 '1-4 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '5-7 Yrs']

In [115]:
print(len(job_title),len(job_loc),len(comp_name),len(job_exp))

10 10 10 10

In [116]:
import pandas as pd
df=pd.DataFrame({'Job_Name':job_title,'Job_Location':job_loc,'Company':comp_name,'Experience':job_exp})
df

,Job_Name,Job_Location,Company,Experience
0,Data Analyst,Bengaluru(Yelahanka New Town),Simply Vyapar Apps,0-5 Yrs
1,Data Analyst,Hybrid - Bengaluru,Sadup Soft,6-10 Yrs
2,Data Analyst,Bengaluru(HSR Layout),Sadup Soft,1-4 Yrs
3,Corporate Auditor- Data Analyst,Bengaluru,EY,5-10 Yrs
4,Data Analyst - Python/Hadoop,Bengaluru,Ness,3-6 Yrs
5,Data Analyst III,Bengaluru,HTC Global Services,5-8 Yrs
6,Data Analyst,"Hybrid - Chennai, Bengaluru, Delhi / NCR",Breakwalls Technologies,3-8 Yrs
7,Data Analyst/Data reconciliation Expert,"Hyderabad, Bengaluru, Mumbai (All Areas)",Novel Office,3-8 Yrs
8,Data Analyst,Hybrid - Bengaluru,Accenture,4-8 Yrs
9,Data Analyst,Bengaluru,Amazon,5-7 Yrs

Question-3 Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [184]:
driver=webdriver.Chrome()

In [216]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [217]:
product_rated=[]

In [218]:
start=0
end=11
for page in range(start,end):
    rated=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in rated:
        product_rated.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    NEXT_tag.click()
    
    
    time.sleep(3)

In [219]:
len(product_rated)#[0:99]

110

In [220]:
product_rated[0:99]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [221]:
start=0
end=11
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@class="ZmyHeo"]')
    for i in review:
        review_sum.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    NEXT_tag.click()
    time.sleep(3)

In [214]:
len(review_sum)

273

In [215]:
review_sum[0:99]

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']